#1. Import the NUMPY package under the name np.

In [1]:
import numpy as np

#2. Print the NUMPY version and the configuration.

In [2]:
print("NumPy Version : ",np.__version__)
print(np.show_config())

NumPy Version :  1.21.5
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/calba/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/calba/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/calba/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/calba/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/calba/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/calba/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/calba/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/calba/anaconda3\\Library\\include']
Supported SIMD extensions in this NumPy install:
    baseline = SSE,SSE2,SSE3
    found = SSSE3,SSE41,POPCNT,SSE42,AVX,F16C,FMA3,AVX2,AVX512F,AVX512CD,AVX512_SKX,AVX512_CLX,AVX512_CNL
    not found =
None

#3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable "a"
# Challenge: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [7]:
a = np.random.random((2,3,5))

[[[0.22951977 0.23477252 0.15266387 0.18588347 0.95445272]
  [0.22804619 0.934226   0.81237338 0.30551177 0.93927764]
  [0.8820861  0.10398908 0.84371359 0.13290719 0.4049158 ]]

 [[0.54623804 0.12832709 0.26351459 0.36685388 0.71160305]
  [0.73571774 0.03408977 0.90267737 0.44111579 0.78210703]
  [0.63928713 0.77913802 0.37269889 0.87127253 0.40099387]]]

#4. Print a.

In [8]:
print(a)

[[[0.22951977 0.23477252 0.15266387 0.18588347 0.95445272]
  [0.22804619 0.934226   0.81237338 0.30551177 0.93927764]
  [0.8820861  0.10398908 0.84371359 0.13290719 0.4049158 ]]

 [[0.54623804 0.12832709 0.26351459 0.36685388 0.71160305]
  [0.73571774 0.03408977 0.90267737 0.44111579 0.78210703]
  [0.63928713 0.77913802 0.37269889 0.87127253 0.40099387]]]

#5. Create a 5x2x3 3-dimensional array with all values equaling 1.
#Assign the array to variable "b"

In [10]:
b = np.ones((5,2,3))

#6. Print b.

In [11]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#7. Do a and b have the same size? How do you prove that in Python code?

In [27]:
#Yes
a.size == b.size

True

#8. Are you able to add a and b? Why or why not?

In [14]:
a+b
#No, as they have different sizes.

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#9. Transpose b so that it has the same structure of a (i.e. become a 2x3x5 array). Assign the transposed array to varialbe "c".

In [22]:
c =  b.reshape(2,3,5) 
print(c.shape)

(2, 3, 5)

#10. Try to add a and c. Now it should work. Assign the sum to varialbe "d". But why does it work now?

In [39]:
d = a + c

#11. Print a and d. Notice the difference and relation of the two array in terms of the values? Explain.

In [102]:
print(a)
print(d)

#They both contain random values but a has values between 0 and 1 and d has values between 1 and 2 (due to the previous sum with b which was an array of ones)

[[[0.22951977 0.23477252 0.15266387 0.18588347 0.95445272]
  [0.22804619 0.934226   0.81237338 0.30551177 0.93927764]
  [0.8820861  0.10398908 0.84371359 0.13290719 0.4049158 ]]

 [[0.54623804 0.12832709 0.26351459 0.36685388 0.71160305]
  [0.73571774 0.03408977 0.90267737 0.44111579 0.78210703]
  [0.63928713 0.77913802 0.37269889 0.87127253 0.40099387]]]
[[[1.22951977 1.23477252 1.15266387 1.18588347 1.95445272]
  [1.22804619 1.934226   1.81237338 1.30551177 1.93927764]
  [1.8820861  1.10398908 1.84371359 1.13290719 1.4049158 ]]

 [[1.54623804 1.12832709 1.26351459 1.36685388 1.71160305]
  [1.73571774 1.03408977 1.90267737 1.44111579 1.78210703]
  [1.63928713 1.77913802 1.37269889 1.87127253 1.40099387]]]

#12. Multiply a and c. Assign the result to e.

In [103]:
e = a*c

#13. Does e equal to a? Why or why not?

In [42]:
e == a
#True, as we multiplied a to an array of ones of equal dimension

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#14. Identify the max, min, and mean values in d. Assign those values to variables "d_max", "d_min", and "d_mean"

In [69]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()


#15. Now we want to label the values in d. First create an empty array "f" with the same shape (i.e. 2x3x5) as d using `np.empty`.

In [64]:
f = np.empty((2,3,5))

In [65]:
print(f)

[[[1.22951977 1.23477252 1.15266387 1.18588347 1.95445272]
  [1.22804619 1.934226   1.81237338 1.30551177 1.93927764]
  [1.8820861  1.10398908 1.84371359 1.13290719 1.4049158 ]]

 [[1.54623804 1.12832709 1.26351459 1.36685388 1.71160305]
  [1.73571774 1.03408977 1.90267737 1.44111579 1.78210703]
  [1.63928713 1.77913802 1.37269889 1.87127253 1.40099387]]]


#16. Populate the values in f. For each value in d, if it's larger than d_min but smaller than d_mean, assign 25 to the corresponding value in f.

If a value in d is larger than d_mean but smaller than d_max, assign 75 to the corresponding value in f.

If a value equals to d_mean, assign 50 to the corresponding value in f.

Assign 0 to the corresponding value(s) in f for d_min in d.

Assign 100 to the corresponding value(s) in f for d_max in d.

In the end, f should have only the following values: 0, 25, 50, 75, and 100.

Note: you don't have to use Numpy in this question.

In [111]:
f = np.where(d==d_max, 100,np.where(d>d_mean,75,np.where(d==d_mean,50,np.where(d>d_min,25,0))))
print(f)

[[[ 25  25  25  25 100]
  [ 25  75  75  25  75]
  [ 75  25  75  25  25]]

 [[ 75  25  25  25  75]
  [ 75   0  75  25  75]
  [ 75  75  25  75  25]]]

In [141]:
f2 = np.empty((2,3,5))
f2 = (d>d_min)*(d<d_mean)*25 + (d==d_mean)*50 + (d>d_mean)*(d<d_max)*75 +(d==d_max)*100
print(f2)

[[[ 25  25  25  25 100]
  [ 25  75  75  25  75]
  [ 75  25  75  25  25]]

 [[ 75  25  25  25  75]
  [ 75   0  75  25  75]
  [ 75  75  25  75  25]]]

[[[1 1 1 1 0]
  [1 0 0 1 0]
  [0 1 0 1 1]]

 [[0 1 1 1 0]
  [0 1 0 1 0]
  [0 0 1 0 1]]]

#17. Print d and f. Do you have your expected f?
For instance, if your d is:
array([[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
        [1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
        [1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],

       [[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
        [1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
        [1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]])

Your f should be:
array([[[ 75.,  75.,  75.,  25.,  75.],
        [ 75.,  75.,  25.,  25.,  25.],
        [ 75.,  25.,  75.,  75.,  75.]],

       [[ 25.,  25.,  25.,  25., 100.],
        [ 75.,  75.,  75.,  75.,  75.],
        [ 25.,  75.,   0.,  75.,  75.]]])

In [143]:
print(d)
print(f)
print(f2)

[[[1.22951977 1.23477252 1.15266387 1.18588347 1.95445272]
  [1.22804619 1.934226   1.81237338 1.30551177 1.93927764]
  [1.8820861  1.10398908 1.84371359 1.13290719 1.4049158 ]]

 [[1.54623804 1.12832709 1.26351459 1.36685388 1.71160305]
  [1.73571774 1.03408977 1.90267737 1.44111579 1.78210703]
  [1.63928713 1.77913802 1.37269889 1.87127253 1.40099387]]]
[[[ 25  25  25  25 100]
  [ 25  75  75  25  75]
  [ 75  25  75  25  25]]

 [[ 75  25  25  25  75]
  [ 75   0  75  25  75]
  [ 75  75  25  75  25]]]
[[[ 25  25  25  25 100]
  [ 25  75  75  25  75]
  [ 75  25  75  25  25]]

 [[ 75  25  25  25  75]
  [ 75   0  75  25  75]
  [ 75  75  25  75  25]]]

#18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), how to use string values 
("A", "B", "C", "D", and "E") to label the array elements? You are expecting the result to be:
array([[[ 'D',  'D',  'D',  'B',  'D'],
        [ 'D',  'D',  'B',  'B',  'B'],
        [ 'D',  'B',  'D',  'D',  'D']],

       [[ 'B',  'B',  'B',  'B',  'E'],
        [ 'D',  'D',  'D',  'D',  'D'],
        [ 'B',  'D',   'A',  'D', 'D']]])
Again, you don't need Numpy in this question.

In [145]:
g = np.where(d==d_max, 'E',np.where(d>d_mean,'D',np.where(d==d_mean,'C',np.where(d>d_min,'B','A'))))
print(g)

[[['B' 'B' 'B' 'B' 'E']
  ['B' 'D' 'D' 'B' 'D']
  ['D' 'B' 'D' 'B' 'B']]

 [['D' 'B' 'B' 'B' 'D']
  ['D' 'A' 'D' 'B' 'D']
  ['D' 'D' 'B' 'D' 'B']]]